@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
}

body {
}

main {
}

.content-3dtext {
  color: hsl(var(--nextui-primary-500));
  /* background-clip: text; */
  text-shadow: 0px 0px 10px hsl(var(--nextui-primary-100)),
    -1px 1px 1px hsl(var(--nextui-primary-500)),
    -2px 2px 2px hsl(var(--nextui-primary-500)),
    -3px 3px 2px hsl(var(--nextui-primary-500)),
    -4px 4px 2px hsl(var(--nextui-primary-500)),
    -5px 5px 2px hsl(var(--nextui-primary-500)),
    -6px 6px 1px hsl(var(--nextui-primary-500));
}

.content-boxshadow {
  box-shadow: 0px 0px 10px hsl(var(--nextui-primary-100)),
    -1px 1px 1px hsl(var(--nextui-primary-500)),
    -2px 2px 2px hsl(var(--nextui-primary-500)),
    -3px 3px 2px hsl(var(--nextui-primary-500)),
    -4px 4px 2px hsl(var(--nextui-primary-500)),
    -5px 5px 2px hsl(var(--nextui-primary-500)),
    -6px 6px 1px hsl(var(--nextui-primary-500)),
    -20px 20px 10px hsl(var(--nextui-content1-500));
}
